---
http_interactions:
- request:
    method: get
    uri: https://www.box.net/api/1.0/rest?action=get_file_info&api_key=unique-api-token&auth_token=unique-auth-token&file_id=2104480929
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8' ?>\r\n<response><status>s_get_file_info</status><info><file_id>2104480929</file_id><file_name>IMG_0174.jpg</file_name><folder_id>267863921</folder_id><shared>1</shared><shared_name>b001ec95feb815091d70</shared_name><size>2028241</size><description/><sha1>0de671d8bb73b1112dd913ea5e33b713479689a4</sha1><created>1335346691</created><updated>1335365586</updated></info></response>"
  recorded_at: Mon, 14 May 2012 13:07:35 GMT
- request:
    method: get
    uri: https://www.box.net/api/1.0/rest?action=public_share&api_key=unique-api-token&auth_token=unique-auth-token&target=file&target_id=2104480929&password=&message=&emails%5B%5D=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8' ?>\r\n<response><status>share_ok</status><public_name>b001ec95feb815091d70</public_name></response>"
  recorded_at: Mon, 14 May 2012 13:09:19 GMT
recorded_with: VCR 2.1.1
