---
http_interactions:
- request:
    method: get
    uri: https://www.box.net/api/1.0/rest?action=get_ticket&api_key=unique-api-token&auth_token=unique-auth-token
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8' ?>\r\n<response><status>get_ticket_ok</status><ticket>unique-secret-ticket</ticket></response>"
  recorded_at: Mon, 14 May 2012 11:25:42 GMT
- request:
    method: get
    uri: https://www.box.net/api/1.0/rest?action=get_account_info&api_key=unique-api-token&auth_token=unique-auth-token
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8' ?>\r\n<response><status>get_account_info_ok</status><user><login>unixcharles@gmail.com</login><email>unixcharles@gmail.com</email><access_id>176951347</access_id><user_id>176951347</user_id><space_amount>5368709120</space_amount><space_used>12205491</space_used><max_upload_size>104857600</max_upload_size></user></response>"
  recorded_at: Mon, 14 May 2012 11:31:21 GMT
recorded_with: VCR 2.1.1
